@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

h1 {
    font-size: 30px;
    margin-bottom: 5vh;
    span {
        opacity: 25%;
    }
}

p {
    font-size: 20px;
}

.tag-start {
    text-align: left;
    opacity: 25%;
    margin-bottom: 5px;
}

.tag-end {
    text-align: right;
    opacity: 25%;
    margin-top: 5px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 1em;
    margin: 0;
    display: flex;
    flex-direction: row;
    a {
        color: black;
        text-decoration: none;
        //text-align: center;
        font-size: 22px;
    }
    div {
        background-color: rgb(255, 255, 255, 0.5);
        border-radius: 5px;
        width: 150px;
        height: 45px;
        margin: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: -12px 11px 32px 0px rgba(0,0,0,0.1);
        -webkit-box-shadow: -12px 11px 32px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: -12px 11px 32px 0px rgba(0,0,0,0.1);
    }

    div:hover {
        background-color: rgb(255, 255, 255, 0.75);
    }

    .active div {
        background-color: white;
    }
}

.section {
    justify-content: center;
    align-items: center;
}

.slide {
    align-items: center;
    justify-content: center;
}

.section-1 {
    background: url('../images/backgrounds/pink-background.png');
    background-size: cover;
    p {
        font-size: 28px;
        width: 950px;
    }
    h1 {
        font-size: 48px;
    }
}

.section-2 {
    background: url('../images/backgrounds/peach-background.png');
    background-size: cover;
    p {
        width: 950px;
    }
    .text-box {
        background-color: white;
        z-index: 10000;
        width: 950px;
        padding: 1.5vh 3vw;
        border-radius: 15px;
        font-size: 20px;
        box-shadow: -12px 11px 32px 0px rgba(0,0,0,0.1);
        -webkit-box-shadow: -12px 11px 32px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: -12px 11px 32px 0px rgba(0,0,0,0.1);
    }
    .slide-background {
        position: relative; 
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slide-background::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
    }
    .slide-1b::before {
        background: url("../images/backgrounds/mailand2.jpg");
        background-position: center;
        background-size: cover;
    }
    .slide-1c::before {
        background: url("../images/backgrounds/ntnu.jpg");
        background-position: bottom;
        background-size: cover;
    }
    .slide-1d::before {
        background: url("../images/backgrounds/hk.jpg");
        background-position: bottom;
        background-size: cover;
    }
}

.section-3 {
    background: url('../images/backgrounds/green-background.png');
    background-size: cover;
    #technology-headline {
        margin-top: 5vh;
        font-weight: bold;
    }
    .technologies-div {
        display: flex;
        width: 75vw;
        min-width: 900px;
        flex-direction: row;
        justify-content: space-evenly;
        .technology {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                width: 100%;
                font-size: 16px;
            }
            img {
                height: 75px;
            }
        }
    }
    h2 {
        text-decoration: underline;
        cursor: pointer;
    }
    .slide-2a {
        p {
            width: 70vw;
        }
    }
    .slide-2b {
        p {
            width: 1000px;
        }
    }
    .project-image {
        height: 80vh;
        width: 100vw;
        background-color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.section-4 {
    background: url('../images/backgrounds/blue-background.png');
    background-size: cover;
    ul {
        list-style-type: none;
    }
    li {
        margin: 1vh 0;
        font-size: 14px;
        text-align: left;
    }
    p {
        font-size: 14px;
    }
    .contact-div {
        max-width: 400px;
        margin-bottom: 10vh;
        p {
            width: 400px;
        }
        img {
            height: 30px;
            position: relative;
            top: 5px;
            margin-right: 10px;
        }
        a {
            color: black;
            text-decoration: none;
            font-size: 24px;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 4s steps(30, end),
        blink-caret .7s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}